# Regressions

In [1]:
import pandas as pd
import numpy as np
import pickle

On this step we use the train set to fit severl linear models.

## Models fitted to the whole features set

In [3]:
# Load the train set
df = pd.read_csv('./data/new_train.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

# Find categorical variables
numerical = set(df.mean().index)
categorical = list(set(df.columns) - numerical) 

# Convert into categorical
for column in categorical:
    df[column] = df[column].astype('category')

df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,Month,DJREI,Fannie,LaborForce,UnemplRate,Corn
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,2008,WD,Normal,208500,200802,244.57,5.534,49426.0,3.0,3.923512
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,2007,WD,Normal,181500,200705,334.04,6.131,47518.0,2.6,3.287290
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,2008,WD,Normal,223500,200809,241.88,6.208,49516.0,3.0,5.329546
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,2006,WD,Abnorml,140000,200602,275.15,6.123,47959.0,2.9,2.139554
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,2008,WD,Normal,250000,200812,145.63,5.140,49657.0,3.7,5.309256

## Model 1: Linear regression on the whole set